* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.speaker {
    display: flex;
    justify-content: end;
    color: rgb(255, 255, 255);
    background-color: black;
}

main {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: black;

}

.content {
    height: 250px;
    width: 200px;
    max-width: 200px;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

img {
    padding: 2rem;

}

.profilo {

    position: relative;


}

.muto {
    position: absolute;
    top: 72%;
    left: 16%;
    bottom: 100%;
    right: 0%;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 2rem 0rem;
}

footer {
    background-color: black;
}